*.log

# Byte-compiled / optimized / DLL files / C extensions
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.idea/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller / Installer logs
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt

# VSCode
.vscode/
*.code-workspace

# Gitignore documentation: https://help.github.com/articles/ignoring-files/
